<html>
<head></head>
<body>
	<p>hello index</p>
	<p>Go to <a href ="/login">admin</a></p>
	<br/>
	<table BORDER=1 CELLSPACING=0>
        <tr>
          <th colspan="5">Vegetable price list</th>
        </tr>
        <tr>
          <th colspan="1">Onion</th>
          <th colspan="1">Potato</th>
          <th colspan="1">Tomato</th>
          <th colspan="1">Cabbage</th>
          <th colspan="1">Beans</th>
        </tr>
        <tr>
          <td>{{c1.onion}}</td>
          <td>{{c1.potato}}</td>
          <td>{{c1.tomato}}</td>
          <td>{{c1.cabbage}}</td>
          <td>{{c1.beans}}</td>

        </tr>
      </table>
</body>
</html>